.BillSplitArea {
  width: 100%;
  background-color: #ffeed7;
  border-radius: 5px;
  padding: 30px 40px;
  flex-direction: column;
  gap: 25px;
}

.billSplitHeader {
  width: 100%;
  /* padding: 10px 10px; */
}

.billSplitHeader h2 {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.billInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
}

.billInfo span {
  width: 100%;
  display: flex;
  align-items: center;
}

.billInfo span label {
  width: 70%;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

.billInfo span input {
  all: unset;
  width: 30%;
  color: #333;
  background-color: #fff;
  border: 2px solid #ffe5c1;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 5px 5px;
  border-radius: 4px;
  text-align: center;
}

.billInfo span input::-webkit-inner-spin-button,
.billInfo span input::-webkit-outer-spin-button {
  display: none;
}

.billInfo span select {
  outline: none;
  width: 33.5%;
  background-color: #fff;
  border: 2px solid #ffe5c1;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 5px 5px;
  border-radius: 4px;
  font-family: "Quicksand", sans-serif;
}

.billInfo span select option {
  background-color: #47433e;
  color: #fff;
}

.billSplitBtn {
  all: unset;
  width: 30% !important;
  background-color: #e28b18;
  color: #222;
  border-radius: 4px;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 6px 4px;
  text-align: center;
  transition: 0.1s linear;
}

.billSplitBtn:active {
  transform: scale(0.95);
}
